// .container {
// 	background-color: pink;
// }

/*==============================*/
/*======REUSABLE ELEMENTS=======*/
/*==============================*/
body {
	font-family: 'Lato', sans-serif;
}

h1 {
	padding-top: 7%;
	margin: 0;
}


h1, 
h2,
h3,
h4 {
	font-weight: 300;
	//text-transform: uppercase;
}



h2 {
	color: #fff;
}

p {
	font-weight: 300;
}


// .icon {
// 	margin-left: 10%;
// }

img.icon {
	font-size: 350%;
	margin-left: 20%;
	display: inline-block;
	color: #e67e22;
	margin-bottom: 10px;
}

ul,
p {
	font-size: 110%;
}

/*==============================*/
/*============HEADER============*/
/*==============================*/


header {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(images/grandma.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;

}


.hero-text-box {
	position: absolute;
	width: 50%;
	top: 50%;
	left: 70%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	//background-color: pink;
}


.logo {
	height: 100px;
	width: auto;
	float: left;
	margin-top: 10px;
	margin-left: 50px;
}

.logo-small {
	display: none;
	height: 40px;
	width: auto;
	float: left;
	margin-top: 15px;
	margin-left: 55px;
}

/*==============================*/
/*==========NAVIGATION==========*/
/*==============================*/


.navbar-nav {
	float: right;
	padding-right: 35px;
	//background-color: rgba(255,255,255,.5);
}

.navbar-nav li {
	display: inline-block;
	margin-top: 25px;
	margin-left: 5px;
	margin-right: 5px;
}

.navbar-nav li a:link,
.navbar-nav li a:visited {
	padding: 15px 1px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 95%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	color: #e67e22;
	border-bottom: 2px solid #e67e22;
}	



.hero-text {
	font-size: 500%;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
}

.hero-text2 {
	font-size: 100%;
	color: #fff;
	text-transform: uppercase;
}

button {
	background-color: #f26822;
}

button:hover {
  background-color: #fff;
}


/*==============================*/
/*======STICKY NAVIGATION=======*/
/*==============================*/

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	background-color: rgba(255,255,255,.7);
	box-shadow: 0 2px 2px #fefefe;
	z-index: 9999;
}

.sticky .main-nav {
	margin-top: 10px;
}


.sticky .navbar-nav li a:link,
.sticky .navbar-nav li a:visited {
	padding: 1px 1px;
	color: #555;
	
}
.sticky .logo {
	display: none;
}

.sticky .logo-small {
	display: block;
}





/*==============================*/
/*=========BLURB SECTIONS=======*/
/*==============================*/

.blurb-section {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(images/nurse.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;


	height: 50vh;
	color: #58585a;
	color: #fff;
	//font-size: 300%;
	//padding: 20px 20px;

}


h3, 
 {
	padding: 10px 25px;
}
/*==================================*/
/*===HOW IT WORKS/PROCESS SECTIONS===*/
/*===================================*/

.process-section {
	// background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/nurse.jpg);
	// background-size: cover;
	// background-position: center;
	
	height:100vh;
}

.process-section-box,
.careers-section-box {
	background-color: rgba(182,214,172,.3);	
}



/*==============================*/
/*======OFFICE SECTION=======*/
/*==============================*/




/*==============================*/
/*======TESTIMONY SECTION=======*/
/*==============================*/

.testimony-section {
	height: 100vh;
	margin-top: 10px;
}

blockquote {
	color: #3c8f7e;
	padding: 2%;
	font-style: italic;
	line-height: 120%;
	position: relative;
	margin-top: 40px;
}

 blockquote:before {
 	content:"\201C";
 	font-size: 500%;
 	display: block;
 	position: absolute;
 	top: -5px;
 	left: 3px;
 }


 cite {
 	font-size: 85%;
 	margin-top: 5px;
 	display: block;
 }

 cite img {
 	height: 60px;
 	border-radius: 50%;
 	//margin-right: 10px;
 	//vertical-align: middle;
 }

/*===================================*/
/*====INFORMATION CENTER SECTION=====*/
/*===================================*/



/*===================================*/
/*==========CAREERS SECTION==========*/
/*===================================*/


/*=====================================*/
/*==========TESTIMONY SECTION==========*/
/*=====================================*/



/*==================================*/
/*============FORM SECTION==========*/
/*==================================*/




/*==================================*/
/*================FOOTER============*/
/*==================================*/

footer {
	background-color: #333; 
	padding: 50px;
	font-size: 90%;
	width: 100%;
}

.footer-nav {
	list-style: none;
	float: left;
}

.social-links {
	list-style: none;
	float: right;
}

.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
} 


.footer-nav li:last-child,
.social-links li:last-child {
	margin-right: 0;
} 

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #888;
	transition: color 0.2s;
}


.footer-nav li a:hover,
.footer-nav li a:active {
	color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
	font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
	transition: color 0.2s;
}


.ion-social-facebook:hover {
	color: #3b5998;
}

.ion-social-twitter:hover {
	color: #00aced;
}

.ion-social-googleplus:hover {
	color: #dd4b39;
}

.ion-social-instagram:hover {
	color: #517fa4;
}

footer p {
	color: #888;
	text-align: center;
	margin-top: 30px;
}


/